.info-card-container {
  margin-bottom: 15px;

  .info-card-title {
    font-size: 110%;
  }

  .info-card-time-place {
    font-size: 80%;
    margin-bottom: 5px;
    color: var(--textColorDark);
    transition: 0.1s color ease-in;

    div {
      display: inline-block;
    }

    .time {
      padding-right: 10px;
      border-right: 2px solid var(--colorHighlight);
    }

    .place {
      padding-left: 10px;
    }
  }

  .info-card-short {
    font-size: 90%;
    color: var(--textColorSecondary);
    transition: 0.1s color ease-in;
  }
}
