<div class="container-fluid">
  <div class="row no-gutters">
    <div class="header-container col-12 col-lg-3">
      <div class="logo"><img src="assets/logo.svg" alt="Logo for project i work heavily on"></div>
      <div class="name-title">
        <h1>Jordie Little</h1>
        <h3>Programmer/Web developer</h3>
      </div>
      <div class="footer">
        <a href="https://github.com/jlittl80" target="_blank" rel="external"><span class="hidden">Github</span><i class="fa fa-github"></i></a>
      </div>
    </div>
    <div class="body-container col-12 col-lg-9">
      <div class="row no-gutters">
        <div class="col-md-12 col-lg-6">
          <div class="work-experience info-container">
            <div class="info-header">
              <span>Work Experience</span>
            </div>
            <div class="info-body">
              <info-card *ngFor="let work of works" [card]="work"></info-card>
            </div>
          </div>
          <div class="education info-container">
            <div class="info-header">
              <span>Education</span>
            </div>
            <div class="info-body">
              <info-card *ngFor="let education of educations" [card]="education"></info-card>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="development-skills info-container">
            <div class="info-header">
              <span>Development Skills</span>
            </div>
            <div class="info-body">
              <span *ngFor="let skill of skills">{{skill}}</span>
            </div>
          </div>
          <div class="todo info-container">
            <div class="info-header">
              <span>//TODO</span>
            </div>
            <div class="info-body">
              <span *ngFor="let todo of todos">{{todo}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
