.container-fluid {
  padding-right: 0;
  padding-left: 0;
  position: absolute;
  height: 100%;

  .row {
    height: 100%;
  }

  .header-container {
    background-color: var(--headerBackground);
    color: var(--textColorPrimary);
    transition: 0.1s background-color ease-in;
    transition: 0.1s color ease-in;

    .header-fixed {
      padding: 2rem;
      max-width: inherit;
      height: 100%;
      @media (min-width: 992px) {
        position: fixed;
      }
    }

    .logo img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    @media (max-width: 991.98px) {
      .logo img {
        max-width: 200px;
      }
    }

    .name-title {
      font-family: 'Montserrat', sans-serif;
      padding-top: 2rem;

      h1, h3 {
        text-align: center;
      }

      h1 {
        font-size: 3rem;
      }

      h3 {
        font-family: 'PT Sans', sans-serif;
        font-size: 1.5rem;
      }
    }

    .footer {
      position: absolute;
      bottom: 20px;

      a, span {
        color: var(--textColorPrimary);
        font-size: 30px;
        transition: 0.3s text-shadow ease-in;
        margin-right: 10px;
        transition: 0.1s color ease-in;
        cursor: pointer;

        &:last-child {
          margin-right: 0px;
        }

        &:hover {
          text-decoration: none;
          text-shadow: 0px 0px 15px var(--textHoverHighlight);
        }

        span.hidden {
          display: none;
        }
      }
    }

    @media (max-width: 991.98px) {
      .footer {
        position: relative;
        bottom: 0;
      }
    }
  }

  .body-container {
    background-color: var(--bodyBackground);
    color: var(--textColorSecondary);
    padding: 1rem;
    transition: 0.1s background-color ease-in;
    transition: 0.1s color ease-in;

    @media (min-width: 992px) {
      padding: 2rem;

      .col-lg-6 {
        padding: 1rem;
      }
    }

    .info-container {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0px;
      }

      .info-header {
        margin-bottom: 10px;

        span {
          text-transform: uppercase;
          font-size: 1.5rem;
          color: var(--textColorPrimary);
          text-shadow: 1px 1px 10px var(--headerBackground);
          border-bottom: 3px solid var(--colorHighlight);
          transition: 0.1s color ease-in;
        }
      }
    }

    .prev-work .proj-container {
      margin-bottom: 15px;

      .proj-title {
        color: var(--textColorPrimary);
        transition: 0.3s text-shadow ease-in;
        padding-right: 10px;
        transition: 0.1s color ease-in;

        &:hover {
          text-decoration: none;
          text-shadow: 0px 0px 15px var(--textHoverHighlight);
          transition: 0.1s text-shadow ease-in;
        }

        .la-external-link {
          color: #007bff;
          font-size: 12px;
          vertical-align: super;
          transition: 0.1s color ease-in;
        }
      }

      .proj-year {
        font-size: 80%;
        color: var(--textColorDark);
        vertical-align: text-top;
        padding-left: 10px;
        border-left: 2px solid var(--colorHighlight);
        transition: 0.1s color ease-in;
      }

      .la-angle-left, .la-angle-down {
        margin-left: 10px;
        cursor: pointer;
      }

      .proj-short {
        font-size: 80%;
        overflow: hidden;
      }
    }

    .development-skills .info-body > span, .todo .info-body > span {
      display: block;
      font-size: 90%;
    }
  }
}
